// include fonts file
@import "./font.scss";
@import "./tip.scss";
@import "./variable.scss";

// general css

html,
body {
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow-x: hidden;
}
body {
  font-family: "Space Mono";
  font-weight: 700;
}
.mt-40 {
  margin-top: 40px;
}
.page-wrapper {
  background-color: $light-grayish-cyan;
  min-height: 100vh;
  flex-direction: column;
  gap: 70px;
  @media (max-width: 767px) {
    padding: 50px 0 0;
    gap: 40px;
  }
  * {
    font-family: "Space Mono";
    font-weight: 700;
    transition: all 0.5s ease;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  position: absolute;
  right: 0;
  color: $error-color;
  @media (max-width: 575px) {
    font-size: 14px;
    top: 3px;
  }
}
