// colors variable
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 56%);
$light-grayish-cyan: hsl(173, 61%, 77%);
$very-light-grayish-cyan: hsl(180, 37%, 97%);
$border-cyan: hsl(168, 22%, 55%);
$white: hsl(0, 0%, 100%);
$light-cyan:hsl(172, 67%, 45%);
$error-color:hsl(11, 32%, 57%)