@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/fonts/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.split-outer {
  max-width: 920px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 48px;
}
@media (max-width: 767px) {
  .split-outer {
    flex-wrap: wrap;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
}
@media (max-width: 575px) {
  .split-outer {
    width: 90%;
  }
}

.box {
  width: 380px;
}
@media (max-width: 991px) {
  .box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .box {
    width: 100%;
  }
}

.form-group {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.form-group label {
  color: hsl(186, 14%, 56%);
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}
.form-group .input-text {
  display: block;
  max-width: 100%;
  width: -webkit-fill-available;
  min-height: 38px;
  background-color: hsl(180, 37%, 97%);
  border: none;
  border-radius: 8px;
  padding: 6px 12px 6px 30px;
  font-size: 24px;
  text-align: right;
  color: hsl(183, 100%, 15%);
  border: 2px solid transparent;
}
.form-group .input-text:focus, .form-group .input-text:active, .form-group .input-text:hover {
  outline: none;
  box-shadow: none;
  border-color: hsl(168, 22%, 55%);
}
.form-group .input-text::placeholder {
  color: hsl(186, 14%, 56%);
}
.form-group .input-text.has-error {
  border-color: #b47c6f;
}
.form-group img {
  position: absolute;
  top: calc(50% + 10px);
  left: 12px;
}
.form-group .input-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
@media (max-width: 575px) {
  .form-group .input-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
.form-group .input-group input.tip-btn {
  text-align: center;
  color: hsl(183, 100%, 15%);
  background-color: hsl(180, 37%, 97%);
  border: 2px solid transparent;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.form-group .input-group input.tip-btn:focus, .form-group .input-group input.tip-btn:active, .form-group .input-group input.tip-btn:hover {
  outline: none;
  box-shadow: none;
  border-color: hsl(168, 22%, 55%);
  background-color: hsl(180, 37%, 97%);
}
.form-group .input-group input.tip-btn::placeholder {
  color: hsl(186, 14%, 56%);
}
.form-group .input-group input.tip-btn.has-error {
  border-color: hsl(11, 32%, 57%);
}
.form-group .input-group .tip-btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: 0;
  min-height: 48px;
  min-width: 115px;
  font-size: 24px;
  box-sizing: border-box;
  cursor: pointer;
}
.form-group .input-group .tip-btn:hover, .form-group .input-group .tip-btn.active {
  background-color: hsl(173, 61%, 77%);
  color: hsl(183, 100%, 15%);
}

.tips-amout-outer {
  background-color: hsl(183, 100%, 15%);
  padding: 30px;
  border-radius: 10px;
}
.tips-amout-outer .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tips-amout-outer .form-group label {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
}
.tips-amout-outer .form-group label span {
  display: block;
  font-size: 14px;
  color: hsl(186, 14%, 56%);
}
.tips-amout-outer .form-group p {
  margin: 0;
  font-size: 40px;
}
.tips-amout-outer .form-group p input {
  font-size: 40px;
  color: hsl(172, 67%, 45%);
  max-width: 210px;
  background: transparent;
  box-shadow: none;
  border: 0;
  padding: 0;
  text-align: right;
}
@media (max-width: 575px) {
  .tips-amout-outer .form-group p input {
    font-size: 36px;
  }
}

.reset-btn {
  border-radius: 4px;
  width: 100%;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: 0;
  min-height: 48px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 60px;
}
.reset-btn:hover {
  background-color: hsl(173, 61%, 77%);
}
.reset-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.reset-btn:disabled:hover {
  background-color: hsl(172, 67%, 45%) !important;
  opacity: 0.4;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow-x: hidden;
}

body {
  font-family: "Space Mono";
  font-weight: 700;
}

.mt-40 {
  margin-top: 40px;
}

.page-wrapper {
  background-color: hsl(173, 61%, 77%);
  min-height: calc(100vh - 40px);
  flex-direction: column;
  gap: 70px;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .page-wrapper {
    padding: 50px 0 0;
    gap: 40px;
  }
}
.page-wrapper * {
  font-family: "Space Mono";
  font-weight: 700;
  transition: all 0.5s ease;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  position: absolute;
  right: 0;
  color: hsl(11, 32%, 57%);
}
@media (max-width: 575px) {
  .error-text {
    font-size: 14px;
    top: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
